alembic==1.7.7
anyio==4.0.0
asyncio==3.4.3
fastapi==0.84.0
fastapi-users
fastapi-users-db-sqlalchemy==4.0.5
flake8==6.1.0
isort
mypy==1.6.1
mypy-extensions==1.0.0
orjson
python-dotenv==1.0.0
pydantic==1.10.2
SQLAlchemy==1.4.50
SQLAlchemy-Utils==0.38.3
uvicorn==0.18.3
uvloop; sys_platform=="linux" or sys_platform=="darvin"
